<!DOCTYPE html>
<html>
<body>
	<!--banner-->
	<div class="banner">
		<div class="effect5">
			<!--shadow effect-->
			<div class="container">
				<div class="logo">
					<h1><a href="index.html"><img src="../../assets/images/logo.png" alt="" /></a></h1>
				</div>
				<div class="banner-slider">
					<h2>Hello!</h2>
					<h3>By Using Digital Camera</h3>
					<h4>We can detect person <span style="color: red;">without mask</span></h4>
				</div>
			</div>
		</div>
	</div>
	<!--//banner-->
	<!--welcome-->
	<div class="welcome">
		<div class="container">
			<h3 class="title">Welcome</h3>
			<p style="font-size: 25px;">COVID-19: Face Mask Detector with OpenCV, Keras/TensorFlow, and Deep Learning.</p>
			<div class="welcome-info">
				<div class="col-md-6 welcome-grids">
					<div class="welcome-img">
						<img src="../../assets/images/without_mask.png" class="img-responsive zoom-img" alt="" />
					</div>
				</div>
				<div class="col-md-6 welcome-grids">
					<div class="welcome-img">
						<img src="../../assets/images/with_mask.png" class="img-responsive zoom-img" alt="" />
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<p style="font-size: larger;">COVID-19 mask detector we have builded here could potentially be used to help ensure your safety
                 and the safety of others (but I’ll leave that to the medical professionals to decide on, implement, 
                 and distribute in the wild). </p>
		</div>
	</div>
	<!--//welcome-->
</body>

</html>