<!--banner-->
<div class="banner">
    <div class="effect5">
        <!--shadow effect-->
        <div class="container">
            <div class="w3-display-topleft w3-padding-large w3-xlarge">
                <img src="../../assets/images/logo.png" alt="" id="logo"/>
              </div>
            <div class="logo">
                <a href="index.html"><img src="../../assets/images/logo1.png" alt=""/></a>
                <span>START</span>
            </div>
        </div>
    </div>
</div>
<!--//banner-->