<div class="container">
  <div class="navbar">
      <button [routerLink]="''">Home</button>
      <button [routerLink]="'maskDetection'">Mask Detection</button>
      <button [routerLink]="'faceRecognition'">Face Detection</button>
      <button [routerLink]="'trainingModule'">Training Module</button>
      <a href="https://www.facebook.com/rraja2752"><img src="../../assets/images/facebook.png" alt="Fb" /></a>
      <a href="https://www.instagram.com/roushan_gopal/"><img src="../../assets/images/insta.png" alt="insta" /></a>
  </div>
  <router-outlet></router-outlet>
  <div class="footer">
      <p>Desingned & Developed By : Roushan Raja</p>
  </div>
</div>

